body {
	background-color: #111012;
}

::-moz-selection {
	background: #9428c9;
}

::selection {
	background: #9428c9;
}

#title {
	text-align: center;
	color: #e5dae8;
	font-size: 50px;
}

.paragraph {
	text-align: center;
	color: #e5dae8;
	font-size: 20px;
	padding: 10px;
}

.link {
	text-align: center;
	color: #e5dae8;
	font-size: 20px;
	padding: 10px;
}

.link:hover {
	text-align: center;
	color: #9428c9;
	font-size: 20px;
	padding: 10px;
}

.wordlink {
	color: #e5dae8;
}

.wordlink:hover {
	color: #9428c9;
}

img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}

a {
	text-decoration: none;
}

hr {
	border-top: 2px solid #9428c9;
	margin-left: 25%;
	margin-right: 25%;
}

.block {
	text-align: left;
	color: #e5dae8;
	font-size: 15px;
	padding: 5px;
	margin-left: 25%;
	margin-right: 25%;
}

pre.code {
	background-color: #2d2d2e;
    	padding: 4px;
    	color: #fff;
    	font-family: monospace, consolas, "courier new";
    	color: #fff;
    	font-size: 15px;
	margin-left: 25%;
	margin-right: 25%;
    	overflow-x: auto;
}

pre.code .keyword {
	color: #9428c9;
}

pre.code .operator {
    color: #eebe4e;
}

pre.code .regex {
    color: #7eb0d1;
}

pre.code .quote {
    color: #927da9;
}

pre.code .comment {
    color: #9fcd25;
}

pre.code ol {
    list-style-type: decimal-leading-zero;
    font-family: monospace, consolas, "courier new";
    font-size: 15px;
    color: #c0c0c0;
    background-color: #2d2d2e;
    line-height: 0.2em;
    margin: 0px;
    padding-top: 10px;
}

pre.code ul {
    list-style: none outside none;
    padding: 0px 0px 0px 1px;
    line-height: 1.0em;
    margin: 0px;
}

pre.code li {
    height: 14px;
}

pre.code ul li {
    border-bottom: none;
}

pre.code li span {
    font-family: monospace, consolas, "courier new";
}
